.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #2b745e;
    position: sticky;
    top: 0;
    z-index: 100;
    border-radius: 24px;
}
.header__logo {
    width: 40px;
    object-fit: contain;
    margin: 0 5px;
    border-radius: 24px;
    height: 40px;
}  

.header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    
}

.header__searchInput {
    max-width: 1200px;
    height: 15px;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 24px;
}

.header__searchIcon {
    padding: 5px;
    height: 22px;
    background-color: #ffffff;
    border-radius: 24px;
    margin-left: 5px;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.header__nav {
    margin: 20px;
    margin-left: 10px;
    display: flex;
    justify-content: space-evenly;
}

.header__optionLineOne {
    font-size: 13px;

}

.header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.header__optionBasket {
    display: flex;
    align-items: center;
    color: white;

}

.header__basketCount {
    margin-left: 10px;
    margin-right: 10px;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }